body{
    font-family: 'Roboto', sans-serif;
    background-color: #355070;
}

/* navbar css starts here  */
.bg-light{
    background-color: #ffff !important;
}

.navbar-brand{
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.5rem;
    color: rgb(51, 51, 51)!important;
}

.nav-link{
    color: #ffff!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: #e6d5d5;
}
/* navbar css ends here  */

.my-info{
    padding: 2rem 5rem;
    color:#ffff;
    font-family: "Trirong", serif;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: #93a3b6!important;
    color: #fff!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgb(242, 243, 247)!important;
}

